:root{
    
    /* Primary */
    
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    
    /* Neutral */
    
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background-color: var(--Off-white);
    font-family: 'Inter', sans-serif;
    padding: 15px;
    padding-top: 45px;
}
.mobile, header div img{
    max-width: 100%;
    max-height: 100%;
}
header div{
    display: flex;
    background-color: var(--Off-white);
    justify-content: space-between;
    height: 68px;
    padding: 25px 15px 15px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
nav{
    background-color: var(--Off-white);
    
    position: fixed;
    top: 0;
    right: -65%;
    height: 100vh;
    padding: 30px;
    transition: right 0.5s ease-in-out;
    width: 65%;
}
.show{

    right: 0;
}
nav li:not(:last-child){
    margin-bottom: 28px;
}
nav a{
    color: var(--Very-dark-blue);
}
nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 85px;
}
button{
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: transparent;
    height: 34px;
    width: 34px;
}
.open-nav{
background-image: url(assets/images/icon-menu.svg);
}
.close-nav{
    background-image: url(assets/images/icon-menu-close.svg);
    margin-left: 90%;
}
.desktop{
    display: none;
}
.overlay{
    position: fixed;
    top: 0;
    right: 65%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.379);
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: 0.4s ease-out;
}
.show-overlay{
    opacity: 1;
}
a{
    text-decoration: none;
}
p{
    line-height: 22px;
}
main{
    display: block;
    margin: 10px auto 30px auto;
}
main a{
    background-color: var(--Soft-red);
    color: var(--Very-dark-blue);
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0;
    padding: 10px 20px;
}
main p{
    line-height: 22px;
    margin-bottom: 30px;
}
.new{
    background-color: var(--Very-dark-blue);
    margin: 20px auto;
    padding: 15px;
}

h2{
    margin: 10px 0;
}


.new ul li:not(:last-child){
    border-bottom: 1px solid var(--Grayish-blue);
    margin-bottom: 9%;
    padding-bottom: 9%;
}

.new a{
    color: var(--Off-white);
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;

}
.new p{
    color: var(--Grayish-blue);
    margin-top: 10px;
}
h2{
    color: var(--Soft-orange);
    margin-bottom: 20px;
}

.featured{
    margin: 50px 0;
}

.featured li{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 2fr;
    margin: 10px 0;
    
}

.featured a{
    color: var(--Very-dark-blue);
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.featured img{
    max-width: 90%;
}

h3{
    color: var(--Soft-red);
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.featured p{
    color: var(--Dark-grayish-blue);
    margin-top: 10px;
}
/* hover effect */
main a:hover{
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}
.new a:hover{
    color: var(--Soft-orange);
}
.featured a:hover{
    color: var(--Soft-red);
}

/* media queries */

@media screen and (min-width:45rem) {
    .mobile{
        display: none;
    }
    .desktop{
        display: inline;
        max-width: 100%;
    }
}
@media screen and (min-width:60rem) {
    body{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        padding: 40px 8%;
        position: relative;
    }
    header{
        display: flex;
        justify-content: space-between;
        grid-column: span 3;
    }
    header div{
        height: auto;
        position: relative;
        width: max-content;
    }
    nav{
        align-items: center;
        
        display: flex;
        flex-grow: 1;
        position: static;
        
        height: 100%;
        margin: 0;
        padding: 0px;
        max-width: 40%;
        top: auto;
        right: auto;
    }

    nav ul{
        justify-content: space-between;
        margin-top: 0;
        flex-direction: row;
        width: 100%;
    }
    nav li:not(:last-child){
        margin-bottom: 0;
    }
    button{
        display: none;
    }
    main{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
        margin: 0;
    }
    main section{
        grid-column: span 2;
    }
    h1{
        font-size: 2.7rem;
        max-width: 75%;
    }
    .new{
        margin: 0;
    }

    .featured{
        grid-column: span 3;
    }
    .featured ul{
        display: flex;
        flex-direction: row;
    }
}